@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html,body{
    height:100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: black;
    width:300px;
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: #eb3495;
}
.row{
    margin: 8px 0;
}
.row input{
    width: 218px;
    font-size: 20px;
    margin:0;
    padding:10px 0px;
    border:2px solid black;
    border-radius: 5px;
}
#check{
    background-color: red;
}
